#{extends 'main.html' /}
#{set title:'Hackernews - Treemap' /}
<script type="text/javascript">
var labelType, useGradients, nativeTextSupport, animate;

(function() {
  var ua = navigator.userAgent,
      iStuff = ua.match(/iPhone/i) || ua.match(/iPad/i),
      typeOfCanvas = typeof HTMLCanvasElement,
      nativeCanvasSupport = (typeOfCanvas == 'object' || typeOfCanvas == 'function'),
      textSupport = nativeCanvasSupport 
        && (typeof document.createElement('canvas').getContext('2d').fillText == 'function');
  //I'm setting this based on the fact that ExCanvas provides text support for IE
  //and that as of today iPhone/iPad current text support is lame
  labelType = (!nativeCanvasSupport || (textSupport && !iStuff))? 'Native' : 'HTML';
  nativeTextSupport = labelType == 'Native';
  useGradients = nativeCanvasSupport;
  animate = !(iStuff || !nativeCanvasSupport);
})();

var Log = {
  elem: false,
  write: function(text){
    if (!this.elem) 
      this.elem = document.getElementById('log');
    this.elem.innerHTML = text;
    this.elem.style.left = (500 - this.elem.offsetWidth / 2) + 'px';
  }
};


function init() {
  //init data
  $.getJSON('/fetch.json', function(json) {
	  //end
	  //init TreeMap
	  var tm = new $jit.TM.Squarified({
	    //where to inject the visualization
	    injectInto: 'infovis',
	    //no parent frames
	    titleHeight: 0,
	    //enable animations
	    animate: animate,
	    //no box offsets
	    offset: 0,
	    //add cushion gradients
	    cushion: useGradients,
	    //duration of the animation
	    duration: 1500,
	    //Enable tips
	    Tips: {
	      enable: true,
	      //add positioning offsets
	      offsetX: 20,
	      offsetY: 20,
	      //implement the onShow method to
	      //add content to the tooltip when a node
	      //is hovered
	      onShow: function(tip, node, isLeaf, domElement) {
	        var html = "<div class=\"tip-title\">" + node.name 
	          + "</div><div class=\"tip-text\">";
	        var data = node.data;
	        if(data.playcount) {
	          html += "Points: " + data.playcount;
	        }
	        if(data.image) {
	          html += "<img src=\""+ data.image +"\" class=\"album\" />";
	        }
	        tip.innerHTML =  html; 
	      }  
	    },
	    //Add the name of the node in the correponding label
	    //This method is called once, on label creation.
	    onCreateLabel: function(domElement, node){
	    	domElement.onclick = function(){
	    		window.open(node.data.url);
	    	}
	        domElement.innerHTML = node.name;
	        var style = domElement.style;
	        style.display = '';
	        style.cursor = 'default';
	        style.border = '1px solid transparent';
	        domElement.onmouseover = function() {
	          style.border = '1px solid #9FD4FF';
	        };
	        domElement.onmouseout = function() {
	          style.border = '1px solid transparent';
	        };
	    }
	  });
	
	  tm.loadJSON(json);
	  tm.refresh();
	  //end
	  //add events to radio buttons
	  var sq = $jit.id('r-sq'),
	      st = $jit.id('r-st'),
	      sd = $jit.id('r-sd');
	  var util = $jit.util;
	  util.addEvent(sq, 'change', function() {
	    if(!sq.checked) return;
	    util.extend(tm, new $jit.Layouts.TM.Squarified);
	    tm.refresh();
	  });
	  util.addEvent(st, 'change', function() {
	    if(!st.checked) return;
	    util.extend(tm, new $jit.Layouts.TM.Strip);
	    tm.layout.orientation = "v";
	    tm.refresh();
	  });
	  util.addEvent(sd, 'change', function() {
	    if(!sd.checked) return;
	    util.extend(tm, new $jit.Layouts.TM.SliceAndDice);
	    tm.layout.orientation = "v";
	    tm.refresh();
	  });
  });
}
</script>
<div id="container"> 
 
<div id="left-container"> 
<img alt="hackrnews" src="@{'/public/images/logo.jpg'}">
<div id="id-list"> 
<table> 
    <tr> 
        <td> 
            <label for="r-sq">Squarified </label> 
        </td> 
        <td> 
            <input type="radio" id="r-sq" name="layout" checked="checked" value="left" /> 
        </td> 
    </tr> 
    <tr> 
         <td> 
            <label for="r-st">Strip </label> 
         </td> 
         <td> 
            <input type="radio" id="r-st" name="layout" value="top" /> 
         </td> 
    <tr> 
         <td> 
            <label for="r-sd">SliceAndDice </label> 
          </td> 
          <td> 
            <input type="radio" id="r-sd" name="layout" value="bottom" /> 
          </td> 
    </tr> 
</table> 
</div> 
<div id="id-list">
<p>Fork it on <a href="https://github.com/D-Roch/hackrnews">Github</a></p>
<p>My <a href="http://D-Ro.ch">site</a></p>
<p>My <a href="http://www.twitter.com/D_Roch">Twitter</a></p>
<p>Datasource: <a href="http://news.ycombinator.com">HN</a></p>
</div>     
</div> 
 
<div id="center-container"> 
    <div id="infovis"></div>    
</div> 
 
<div id="right-container"> 
<div id="inner-details"></div> 
 
</div> 
 
<div id="log"></div> 

</div> 
<script type="text/javascript">init();</script>